.form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 70px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 0px 25px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  overflow: hidden;
  font-weight: 800;
  width: 600px;
  font-size: 18px;
}
.label:first-child {
  display: inline-block;
  margin-right: 10px;
}
.input {
  margin-left: 10px;
}
.btn {
  margin-top: 35px;
  padding: 10px 30px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: 800;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid rgb(67, 138, 168);
  box-shadow: 0px 25px 30px 3px rgba(0, 0, 0, 0.3),
    0 0 25px 0 rgba(67, 138, 168, 0.8) inset,
    0 0 30px 4px rgba(246, 162, 68, 0.8);
}
.btn:hover,
.btn:focus {
  outline: none;
  border-color: rgb(246, 162, 68);
  box-shadow: 0px 25px 30px 3px rgba(0, 0, 0, 0.3),
    0 0 25px 0 rgba(246, 162, 68, 0.8) inset,
    0 0 30px 4px rgba(67, 138, 168, 0.8);
}
