.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item {
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
    margin: 15px;
    width: 28%;
    overflow: hidden;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-weight: 800;
}
.btn {
    background-color: transparent;
    border: none;
    padding: 5px;
}
.btn:hover,
.btn:focus {
    border-radius: 50%;
    background-color: rgba(67, 138, 168, 0.3);
}
.img {
    width: 30px;
    height: 30px;
}